*{
    margin: 0;
    padding: 2px;
}
nav{
    margin: auto;
    background-color: white;
    color: blue;
}
nav ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    position: relative;
    margin: 4px;
}
nav ul li a{
    text-decoration: none;
    margin: 10px;
    color: blue;
}
nav ul li a:hover{
    color: aliceblue;
}
table{
    position: relative;
    border-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
.footer{
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    height: 40px;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
}
.nav-active{
    text-decoration: none;
    color: blue;
}
.about_title{
    width: 100%;
    text-align: center;
    height: 450px;
    background-image: url(../img/Sabar\ Sakdremo.jpeg);
}
.conten_about{
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_left{
    margin-right: 50%;
}
.judul{
    text-align: center;
    text-decoration: double;
    margin-bottom: 20px;
}
